.table {
  overflow: hidden;
}

.error {
  color: #b00020;
  font-weight: 600;
}

.tr {
  display: flex;
  border-bottom: 1px solid black;
}

.sort-btn {
  flex: 0 1 200px;
  font-weight: 600;
  color: #000000;
}
.sort-btn:last-child {
  flex: 1 0 25%;
  margin: 0 auto;
}

.th {
  min-width: 200px;
  word-break: break-word;
}

.sort-btn {
  cursor: pointer;
  position: relative;
}

.sort-btn:hover::after {
  position: absolute;
  top: 0;
  right: 12px;
  content: "≡";
}
